@import "tailwindcss";

@theme {
  --color-primary: #343C6A;
  --border-header: #E6EFF5;
  --color-background: #F5F7FA;
  --color-placeholder: #8BA3CB;
  --text-large: 28px;
  --breakpoint-sm: 700px;
  --breakpoint-md: 850px;
}

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-background)
}
